<div class="container mt-5">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.input :movie, as: :select, collection: @movie.map { |movie| movie.title }%>
    <%= f.submit %>
  <% end %>
</div>
