.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding:20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 200px;
}

.navbar-lewagon p {
  color: white;
}

.navbar-lewagon h2 {
color:white;
}
